.Title{
    text-align: left;
    color: #f44336;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}
.Title p::before
{
    position: absolute;
    content: " ";
    width: 3px;
    height: 17px;
    left: 0;
    background-color: #f44336;
}
.Title p 
{
    position: relative;
    padding-left: 7px;
}
.Title h2 
{
    width: 350px;
    font-size: 45px;
    color: black;
    margin-top: 5px;
    text-transform: none;
}

@media (max-width:500px){
    .Title h2 {
        width: 100%;
        font-size: 25px;

    }
}